* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DM Serif Display', serif;
}

body {
  margin: 0;
}

#general {
  margin: auto;
  width: 1000px;
  height: 791px;
}

#todo-frame {
  display: flex;
  justify-content: space-between;
}

/* background img */
#background-frame {
  --bg-img: 0;
  position: absolute;
  z-index: -500;
  background-image: var(--bg-img);
  background-size: cover;
  width: 1000px;
  height: 790px;
}

#screen {
  --height-time: 0;
  position: absolute;
  width: 1000px;
  height: 790px;
  top: calc(var(--height-time) * 1px);
  z-index: -400;
  background: linear-gradient(#e6646570 30%, #d198e530 80%);
}

/* clock */
#clock {
  display: inline-block;
  position: relative;
  left: -50px;
  top: 800px;
  transform: rotate(-90deg);
  font-size: 18px;
}

/* quote */
#quote {
  transform: rotate(90deg);
  position: relative;
}

#quote span:first-child {
  width: 680px;
  height: 178px;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: -280px;
  right: -300px;
}

#quote span:last-child {
  display: inline-block;
  position: absolute;
  width: 348px;
  left: 45px;
  top: -250px;
}

/* time */
.time-table {
  padding-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 791px;
}

.time-table li {
  margin-left: 0%;
  width: 100px;
  height: calc(791px / 24);
  list-style: none;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.time {
  padding-left: 20px;
  font-size: 20px;
  color: #d9d9d9;
  /* background: linear-gradient(to right, #737373 20%, #ff8fab 90%, #d9d9d9 100%); */
  /* -webkit-background-clip: text; */
}

/* stopwatch button */
form {
  position: relative;
}

.stop-watch-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: #d9d9d9;
  position: absolute;
  left: 270px;
  top: 60px;
  transform: rotate(-20deg);
  z-index: 500;
}

/* quote */
#quotes {
  width: 300px;
  height: 200px;
  transform: rotate(90deg);
}

/* lists - timeline, todo */
.lists-frame {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list-table {
  width: 450px;
  height: 300px;
  background-color: #eac8d0;
  border-radius: 0px 10px 0 10px;
  margin: 0;
}

.secondList {
  background-color: black;
  color: #eac8d0;
  position: absolute;
  z-index: -100;
}

#study-todo-list {
  padding-top: 40px;
  overflow: scroll;
}

/* folder and folder title */
.folder-frame {
  width: 510px;
  height: 360px;
  position: relative;
  padding: 30px;
  margin-top: 25px;
}

.folder-title {
  position: absolute;
  font-size: 40px;
  font-style: italic;
}

.title1 {
  top: -25px;
  left: 180px;
}

.title2 {
  top: 325px;
  right: 180px;
  color: #eac8d0;
}

/* index shape -todo */
.index-frame {
  display: flex;
  justify-content: end;
  position: relative;
  /* if inside elements are all absolute position, set height!! */
}

.index-wrap {
  width: 150px;
  overflow: hidden;
  border-radius: 0 10px 0 0;
  /*this shape is referenced https://jsfiddle.net/gmvtpj0o/3/*/
}

.index-inside {
  width: 150px;
  height: 30px;
  border-radius: 10px 0 0 0;
  background: black;
  transform: skew(-10deg) translate(30px, 0px);
  color: #eac8d0;
  font-size: 20px;
  text-align: center;
  padding-right: 25px;
  padding-top: 2px;
}

.index2 {
  position: absolute;
  top: 300px;
  left: 300px;
  border-radius: 0 0 10px 0;
}

.index2-inside {
  transform: skew(10deg) translate(30px, 0px);
  border-radius: 0 0 0 10px;
}

.index1 {
  position: absolute;
  left: -27.612px;
  top: -30px;
}

.index1-inside {
  background-color: #eac8d0;
  color: black;
}

/* todo-list-content */
.todo-form {
  position: absolute;
}

/* class group */
.hidden {
  display: none;
}
